PORT=4000
PHX_SERVER=true
PHX_HOST=localhost

DATABASE_URL=ecto://postgres:postgres@localhost/snack_dev
DATABASE_SSL=false
POOL_SIZE=10
ECTO_IPV6=false

SECRET_KEY_BASE=
AUTH_ACCESS_TOKEN_SALT=
AUTH_REFRESH_TOKEN_SALT=

GOOGLE_WEB_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_JWKS_CACHE_TTL_MS=600000

ENABLE_SUBSCRIPTIONS=false
STRIPE_SECRET_KEY=
STRIPE_BASE_URL=https://api.stripe.com
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
STRIPE_MERCHANT_DISPLAY_NAME=Snack
STRIPE_MERCHANT_IDENTIFIER=
STRIPE_URL_SCHEME=snack

DNS_CLUSTER_QUERY=
